CompileFlags:
  Compiler: C:/msys64/ucrt64/bin/gcc.exe
  Add:
    - --target=x86_64-w64-windows-gnu
    - -std=c11
    - -Iinclude
    - -isystem
    - C:/msys64/ucrt64/include
    - -isystem
    - C:/msys64/ucrt64/lib/gcc/x86_64-w64-mingw32/16.1.0/include
    - -isystem
    - C:/msys64/ucrt64/lib/gcc/x86_64-w64-mingw32/16.1.0/include-fixed
